<h2 class="intro">
  <p>
    Here, I share some thoughts on tech and leadership; to explore my thoughts,
    such that I can inspire others and teams I work with...
  </p>
  <p>And some personal and arty stuff too!</p>
</h2>

<ol class="post-list">
  {% for post in postslist | reverse %}
  <li
    class="post-list__item {% if post.url == url %} post-list-item--active{% endif %}"
  >
    <h2 class="post-title">
      <a href="{{ post.url | url }}" class="post-list__link">
        {% if post.data.title %}
        {{ post.data.title }}
        {% else %}{% endif %}
      </a>
    </h2>
    <time
      class="post-list__date post-date"
      datetime="{{ post.date | htmlDateString }}"
    >
      {{ post.date | readableDate }}</time
    >
    {% if post.data.previewImg %}
    <div class="preview-img">
      <a href="{{ post.url | url }}">
        <img src="{{ post.data.previewImg }}" alt="{{ post.data.title }}" />
      </a>
    </div>
    {% endif %}
    <p class="post-list__excerpt">{% excerpt post %}</p>
    <a
      class="post-list__read-more"
      href="{{ post.url | url }}"
      aria-label="Read more on {{ post.data.title }}"
      >Read more →</a
    >
  </li>
  {% endfor %}
</ol>
