:root {
  --content: #2e3542;
  --quote: #383d46;
  --red: #c5004a;
  --darkred: #7f0036;
  --cyan: #b2efeb;
  --lightgrey: #aeb0c7;
  --darkgrey: #2e2e2e;
  --blueGrey: #929db1;
  --maxWidth: 1300px;
  --bp1: 500px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background: #eceff4;
  background: linear-gradient(
    180deg,
    #eceff4 33%,
    rgba(255, 255, 255, 0.80716) 91%
  );
}
body,
html {
  padding: 0;
  color: var(--content);
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
}
@media (min-width: var(--bp1)) {
  body,
  html {
    font-size: 1rem;
  }
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 0.9rem;
}

p:last-child {
  margin-bottom: 0;
}
.tmpl-post {
  padding: 0 20px;
  max-width: 75%;
}
p,
.tmpl-post li {
  line-height: 1.7;
}

.tmpl-post p {
  font-size: 18px;
}

.content .tmpl-post h3 {
  border-left: 3px solid var(--cyan);
  padding-left: 8px;
  margin: 12px 0;
  margin-top: 20px;
}

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  font-weight: 300;
  justify-content: center;
  h2,
  h3,
  h4 {
    margin-bottom: 0.5rem;
    + p {
      margin-top: 0.5rem;
    }
  }
}

a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
pre,
code {
  font-family:
    Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  font-size: 1em;
}
.home :link:not(:hover) {
  text-decoration: none;
}
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em;
  font-weight: 700;
}
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em;
  padding: 2px 4px;
  margin-left: 0.8em;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em;
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}
blockquote {
  padding: 16px;
  border-left: 5px solid var(--cyan);
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: var(--quote);
  margin: 28px 10px;
  letter-spacing: 1px;
}
blockquote + cite {
  color: black;
  padding: 6px 12px;
  display: inline-block;
  text-align: right;
  background: var(--cyan);
}
.bio {
  font-size: 0.8rem;
  color: #9e9e9e;
  grid-area: bio;
  padding-bottom: 12px;
}
.bio__title {
  display: flex;
}
.bio__title img {
  max-width: 100px;
  border-radius: 15%;
}
.bio__title h1 {
  padding-left: 12px;
  font-size: 18px;
  display: inline;
  color: var(--content);
}
.bio__title h1 a {
  line-height: 0.6;
  text-decoration: none;
  font-weight: 400;
}
.bio__title h1 span {
  display: block;
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 600px) {
  .bio {
    font-size: 1rem;
  }
  .bio p {
    max-width: 34em;
  }
}
@media (min-width: 768px) {
  .bio p {
    max-width: 20em;
  }
}
.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.contacts li + li {
  margin-left: 20px;
}
.contacts img {
  width: 50px;
}
.nav {
  grid-area: nav;
  margin: 12px 0 24px 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .nav {
    text-align: right;
  }
}
.nav-item {
  text-decoration: none;
  display: inline-block;
  margin-right: 1em;
}
.nav-item a:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, var(--cyan) 95%, transparent 0%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.nav-item a:hover:hover {
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    var(--content) 95%,
    transparent 0%
  );
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, var(--cyan) 95%, transparent 0%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.nav-item-active a:hover {
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    var(--content) 95%,
    transparent 0%
  );
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.contacts {
  padding-bottom: 12px;
  border-bottom: 1px solid #d6dce4;
}
.contacts svg {
  fill: var(--blueGrey);
  width: 28px;
}
.contacts svg:hover {
  fill: var(--lightgrey);
}
.grid-wrapper {
  display: grid;
  grid-template-areas: "bio" "nav" "content";
  padding: 12px;
  max-width: var(--maxWidth);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .grid-wrapper {
    column-gap: 2em;
    grid-template-areas: "nav nav" "bio content";
  }
}

@media (min-width: 768px) {
  .content {
    padding: 0 16px;
  }
}

.content img {
  width: 550px;
  max-width: 100%;
}
.content p > a,
.content .direct-link,
.content li > a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, var(--cyan) 95%, transparent 0%);
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.content p > a:hover,
.content .direct-link:hover,
.content li > a:hover {
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    var(--blueGrey) 80%,
    transparent 0%
  );
  background-position: 0 95%;
  background-repeat: repeat-x;
  background-size: 10px 3px;
}
.content p > a:hover,
.content .direct-link:hover,
.content li > a:hover {
  color: black;
}
.post-list {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  font-size: 0.9rem;
}
.post-list__item {
  margin-bottom: 1.5em;
}
.post-list__item + .post-list__item {
  padding-top: 1em;
}
.post-list__link {
  text-decoration: none;
  display: block;
}
.post-list__link:hover {
  text-decoration: underline;
}
.post-list__excerpt {
  font-size: 17px;
  margin: 6px 0;
  color: var(--content);
}

@media (min-width: 1200px) {
  .post-list {
    padding-right: 20%;
  }
}
.post-title {
  line-height: 1.1;
  font-size: 30px;
  font-size: 1.7rem;
  border-left: 5px solid var(--blueGrey);
  margin-bottom: 0;
  padding-left: 8px;
}
.post-date {
  display: block;
  font-size: 0.8rem;
  color: var(--darkgray);
  padding: 0;
}
.page-title {
  font-size: 32px;
  padding-left: 12px;
  line-height: 1.1;
  border-left: 6px solid var(--cyan);
  margin-bottom: 14px;
}
.page-title--subtitle {
  margin-bottom: 0.5em;
}
.page-title__sub-line {
  margin: 0;
  font-size: 16px;
  font-size: 0.9rem;
  font-style: italic;
}
.tmpl-archive .post-list__title {
  font-size: 24px;
  font-size: 1.3rem;
}

.tmpl-archive .intro {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  padding: 8px 0;
}
.tmpl-archive .intro p {
  margin: 5px 0;
}

.tmpl-page {
  padding-right: 12px;
}

.preview-img {
  max-height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  img {
    width: auto;
    width: 100%;
    max-width: 100%;
  }
}

.photoblock {
  /* Hue Saturation Lightnesss */
  background: hsl(220, 10%, 90%);
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 20px;
  max-width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding: 20px;
  img {
    width: auto;
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 12px 0;
    object-fit: cover;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr;
  }
}

.post-script {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid var(--darkgrey);
}

.post-script h4 {
  border-left: 3px solid var(--cyan);
  padding-left: 8px;
}

.footnote-intro {
  font-style: italic;
}
