---
layout: layouts/base.njk
title: Posts
templateClass: tmpl-archive
permalink: /posts/
eleventyNavigation:
  key: Writing
  order: 2
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
