---
layout: layouts/base.njk
title: Archive
templateClass: tmpl-archive
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 5
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
