---
layout: layouts/base.njk
title: Writing
templateClass: archive-content
permalink: /
eleventyNavigation:
  key: Writing
  order: 0
---

{% set postslist = collections.posts %} {% include "postslist.njk" %}
