---
layout: layouts/base.njk
title: Writing
templateClass: tmpl-archive
permalink: /
eleventyNavigation:
  key: Writing
  order: 0
---

{% set postslist = collections.posts %} {% include "postslist.njk" %}
